<section id="broadcast-thumbnails" ng-class="{'show-profile': !hideProfile}" ng-controller="CurrentUserCtrl as currentUser">
    <figure ng-repeat="broadcast in broadcasts | visibleBroadcasts | orderBy: '-created' track by broadcast._id" >
        <a ui-sref="viewBroadcast({username:broadcast.owner.username, shortId:broadcast.shortId})">
            <div class="preview-container">    
                <img ng-if="broadcast.thumbs.length" class="preview" ng-src="{{broadcast.thumbs[broadcast.thumbs.length - 1].url}}" />
                <div class="live-indicator" ng-if="broadcast.type === 'live'">
                    <div class="indicator-icon"></div>
                    <span class="indicator-message">LIVE</span>
                </div>
            </div>
        </a>
        <figcaption>
            <a ui-sref="viewBroadcast({username:broadcast.owner.username, shortId:broadcast.shortId})">
                <label class="video-name">{{broadcast.name}}</label>
            </a>
        </figcaption>
        <div uib-alert class="delete-warning" close="closeAlert(broadcast)" ng-if="showConfirmation.indexOf(broadcast._id) > -1">
            <div class="delete-warning-text" ng-click="deleteBroadcast(broadcast)">Deleting a broadcast cannot be undone. Click here to continue.</div>
        </div>
        <i class="fa fa-trash delete-icon" ng-if="broadcast.owner._id === currentUser.profile._id && !!deleteBroadcast && showConfirmation.indexOf(broadcast._id) === -1"" ng-click="showDeleteConfirmation(broadcast)"
        uib-tooltip="Delete broadcast">            
        </i>
    </figure>
</section>
