<form name="forgot-password-form" 
id="forgot-password-form" 
class="forgot-password-form css-form" 
ng-submit="sendPasswordResetEmail()">
    <label>Please enter your email or username</label>
    <input ng-model="identifier" 
    type="text"
    name="identifier" 
    id="identifier" 
    class="form-control" 
    required></input>

    <div class="buttons-container">
        <!--SUBMIT-->
        <input 
            class="btn submit-button"
            type="submit"
            value="Reset"
            >
        </input>
    </div>
</form>