<div class="label-and-messages">
    <div class="error-message" ng-if="formElem.$touched" ng-messages="formElem.$error">
        <p ng-message="required">Required</p>
        <p ng-message="recordValid">Too short</p>
    </div>
</div>

<div class="box-wrap">
	<input ng-model="model" 
		placeholder="Password" 
		type="{{inputType}}"
		label="Password"
		name="password"
		class="form-control"
		zip-record-validator="password"  
		required
	/>
	<input type="checkbox" class="password-checkbox" ng-click="toggleShowPassword()"/>
</div>

<!-- 


<label for="checkbox">Show password</label> 

-->
