<div id="zip-profile">
    <a ui-sref="profile.viewProfile({profileUsername:profile.username})">
        <figure class="avatar zipline-profile">
            <img ng-if="profile.avatar" ng-src="{{profile.avatar}}" />
            <placeholder ng-if="!profile.avatar">{{profile.username[0]}}</placeholder>
        </figure>
        <div ng-if="showDetails" class="details">
            <h1 class="username">{{profile.displayName}}</h1>
            <h2 class="user-link">zipline.co/<span class="username">{{profile.username}}</span></h2>

            <div class="bullonList">
                 <zip-follow-button zip-profile="profile"></zip-follow-button>
                 <zip-partner-with-button zip-profile="profile"></zip-partner-with-button>
            </div>
        
        </div>


    </a>
</div>
