<header class="header">
    <ul class="statistics">
        <li class="views" ng-if="broadcast.totalViews > 0">
            <p class="number num-views">{{broadcast.totalViews}}</p>
            <p class="stat-label">Views</p>
        </li>
        <li class="followers" > <!-- ng-if="broadcaster.followers.length > 0" -->
            <p class="number num-followers">{{broadcaster.followers.length}}</p>
            <p class="stat-label">Follower<span ng-if="broadcaster.followers.length !== 1">s</span></p>
        </li>
        <li class="amount-raised" ><!-- ng-if="broadcast.amountRaised > 0" -->
            <p class="number num-amount-raised">{{broadcast.amountRaised | formatMoneySent}}</p>
            <p class="stat-label">Raised</p>
        </li>
    </ul>
    <button class="give-button" id="give-button" zip-show-money-form ng-click="showMoneyForm()">SEND MONEY</button>
</header>
<section class="video-container">
    <iframe ng-if="broadcast.type === 'vimeo'" class="video" ng-src="{{broadcast.hd.url | trustUrl}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <video ng-if="broadcast.type !== 'vimeo'" class="video" ng-src="{{broadcast.url | trustUrl}}" autoplay controls data-viblast-key="609cab3b-11d3-428b-bd73-e09c931a5df3"></video>
</section>
<section class="broadcast-info">
    <h1 class="title">{{broadcast.name}}</h1>
    <h2 class="broadcaster">
        <a class="avatar" ui-sref="profile.viewProfile({profileUsername:broadcaster.username})">
            <img ng-if="broadcaster.avatar" ng-src="{{broadcaster.avatar}}" alt="broadcaster avatar"/>
            <placeholder ng-if="!broadcaster.avatar">{{broadcaster.username[0]}}</placeholder>
        </a>
        <a ui-sref="profile.viewProfile({profileUsername:broadcaster.username})">
            <span class="broadcaster-name">{{broadcaster.displayName}}</span>
        </a>
        <span ng-if="affiliate" class="affiliate-info">broadcasting for <strong>{{affiliate.displayName}}</strong></span>    
    </h2>
</section>
