<div ng-switch on="field">
    <button ng-click="showChangePassword()" ng-switch-when="notClicked">Edit</button>
    <form name="passwordForm">
        <div ng-switch-when="clicked">
            <div class="form-group">
                <input type="password" 
                    ng-model="password.current" 
                    class="form-control"
                    name="current"
                    placeholder="Current password" 
                    required></input>
                <div ng-messages="passwordForm.current.$error" ng-if="passwordForm.current.$touched">
                    <p ng-message="required">This field is required.</p>
                </div>
            </div>
            <div class="form-group">
                <input type="password" 
                    ng-model="password.new" 
                    class="form-control"
                    name="new"
                    placeholder="New password"
                    zip-record-validator="password"
                    required> </input>
                <div ng-messages="passwordForm.new.$error" ng-if="passwordForm.new.$touched">
                    <p ng-message="required">This field is required.</p>
                    <p ng-message="recordValid">The new password entered is not valid</p>
                </div>
            </div>
            <button class="submit" ng-disabled="passwordForm.$invalid" click-and-disable="changePassword()">Submit</button>
            
        </div>
    </form>
    <div ng-switch-when="changed">Password Changed</div>
</div>
