#zip-profile {
	    background: url(../assets/horizental-lines.png) #261c37;
		position: relative;
		top: -1px;
		padding: 3px 0px 20px;

    > * {
        text-align: center;
    }
    
    @include avatar (150px);

    &:hover {
        .user-link .username {
            font-weight: 800;
        }
    }

    .details {
        color: $navbar-profile-text;
        h1, h2 {
            margin: 0;
        }
        h1 {
            font-size: 20px;
            margin: 4px;
           
        }
        h2 {
            font-size: 16px;
            margin-top: 4px;

        }
		h2.user-link{display:none;}
        .username {
            
			color: #f0eef5;
			font-size: 16px;
			margin-top: 14px;
			font-family: HelveticaLTStdRoman;
        }
    }
    a {
        text-decoration: none;
        color: $navbar-profile-text;
        &:focus {
            outline-width: 0;
        }
    }
}

#zip-profile .avatar>* {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    border: 2px #4e3cba solid;
    padding: 2px;
}


div.zipline-profile {
    background: url('../assets/follow.jpg') no-repeat !important;
    background-size:cover;
    background-position:center center;
    
    #zip-profile {
        background: trasparent;     
    }
}



div.zipline-profile {
    
    
    header {
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 0px !important;

        background: url('../assets/follow.jpg') no-repeat !important;
        background-size:cover;
        background-position:center center;
        padding-top: 30px !important;
    }   

    
    nav{
        ul.navigation-options {
            border: 0px !important;
            
            li.active {
                color: #4e3cbc !important;  
            }
        }
    }   
}

section.following , section.followers { 
    
    .zip-profile-user-item {
        border-bottom:1px solid #bebebe !important;
        padding-bottom: 10px !important;

        .profile-info .avatar img{
            border:1px #e7e8e8 solid;
            padding:2px;
        }
         .profile-info .avatar placeholder {
            border:1px #e7e8e8 solid;
            padding:2px;
        }
        
         button.unfollow-button {
            background-color: #d7d7d7 !important;
            font-weight: bold;
            text-transform: uppercase;
            border: 0px solid transparent !important;
            border-radius: 3px;
            
            &:hover {
                background-color: #261c37 !important;
                color: #FFF !important;
            }
         }
    }
}
