
@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),  url('HelveticaLTStd-Bold.otf')  format('opentype'),
	     url('HelveticaLTStd-Bold.woff') format('woff'), url('HelveticaLTStd-Bold.ttf')  format('truetype'), url('HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
