<ng-include src="'templates/includes/navbar.html'"></ng-include>

<form name="resetPasswordForm" id="reset-password-form" class="reset-password-form css-form" ng-submit="resetPassword()">  
    <!--Password-->
    <label>New password</label>
    <input ng-model="password" 
    type="password" 
    label="Password"
    name="password" 
    id="password" 
    class="form-control"
    zip-record-validator="password"  
    required></input>

    <div class="buttons-container">
        <!--SUBMIT-->
        <input 
            class="btn submit-button"
            type="submit"
            value="Reset password"
            >
        </input>
    </div>
</form>